alacritty/
arcolinux-welcome-app/
arcologout/
autostart/
awesome/
chromium/
conky/
cutefishos/
coc/
dconf/
gtk-3.0/
htop/
mimeapps.list
nano/
neofetch/
nomacs/
paru/
pulse/
rofi/
Thunar/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
volumeicon/
xfce4/
yad.conf
znt/

